@media screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    h1{
        font-size: 1.2em;
        color: red;
    }
}

@media screen and (min-width: 601px) and (max-width: 799px) {
    body {
      background-color: rgb(234, 23, 171);      
    }
    h1{
        font-size: 1.6em;
        color: blue;
    }
}

@media screen and (min-width: 800px) {
    body {
      background-color: rgb(255, 0, 0);
    }
    h1{
        font-size: 2em;
        color: #fff;
    }
}

img{
    display: block;
    margin: 0 auto; 
    max-width: 100%;
    height: auto;
}